@layer components {
  .container {
    @apply block relative text-center p-6 h-full md:w-[420px] md:min-h-[796px];
    @apply bg-gradient-to-t from-white via-gray-50 to-[rgb(243,244,246,0.95)];
    @apply md:border-8 md:border-gray-50 md:p-10 md:pt-14 md:h-auto md:w-[420px] md:rounded-[42px];
    @apply dark:from-[rgb(17,24,39,0.75)] dark:via-gray-800 dark:to-gray-900 dark:border-gray-800;
  }

  .container::after {
    @apply content-none md:content-[''] md:h-[176px] md:w-[176px] md:rounded-full md:absolute md:-top-[80px] md:-left-[88px] md:-z-[1];
    @apply bg-gradient-to-t from-white via-gray-50 to-[rgb(243,244,246,0.95)];
    background: radial-gradient(circle, rgba(255,177,51,1) 0%, rgba(255,177,51,1) 50%, rgba(255,142,39,1) 100%);
  }

  html.dark .container::after {
    @apply md:h-[128px] md:w-[128px] md:top-auto md:left-auto md:-bottom-[40px] md:-right-[60px];
    @apply bg-gradient-to-t from-white via-gray-50 to-[rgb(243,244,246,0.95)];
    background: radial-gradient(circle, rgba(147,152,219,1) 0%, rgba(147,152,219,1) 50%, rgba(110,114,201,1) 100%);
  }

  .header {
    & section {
      @apply grid gap-2;

      & span {
        @apply text-lg text-gray-500 dark:text-gray-400;
      }

      & h1 {
        @apply text-5xl font-extrabold dark:text-white;
      }
    }
  }

  .image {
    @apply filter drop-shadow-[0_25px_25px_rgb(251,198,43,0.3)] dark:drop-shadow-[0_25px_25px_rgb(255,255,255,0.2)];

    & .animated {
      animation: float 6s ease-in-out infinite;
    }
  }

  .temp {
    @apply font-extrabold;

    & h2 {
      @apply text-[144px] leading-[196px] bg-clip-text;
      background: linear-gradient(180deg, #111827 0%, #6B7280 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    html.dark & h2 {
      @apply text-[144px] leading-[196px] bg-clip-text;
      background: linear-gradient(180deg, #F3F4F6 0%, #1F2937 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    & span {
      @apply text-2xl capitalize;
    }
  }

  .overlay {
    @apply grid absolute place-items-center px-12 bg-[rgba(0,0,0,0.5)] rounded-[42px] top-0 left-0 z-50 w-full h-full;

    & .modal {
      @apply grid gap-4 w-full px-4 py-8 text-center bg-white rounded-[42px];

      h2 {
        @apply text-4xl;
      }

      .btn {
        @apply py-2 px-4 mx-auto bg-snow text-white tracking-wide outline-none rounded-lg;
        @apply transition-transform duration-100 ease-in-out active:transform active:scale-[0.98];
      }
    }
  }

  .error {
    @apply grid grid-flow-row auto-rows-min content-center h-full text-center dark:text-white;

    & h1 {
      @apply text-8xl font-bold dark:text-white;
    }
  }
}