@layer components {
  .container {
    @apply block relative h-full p-6 border-8 border-white sm:p-10 sm:pt-14 sm:h-auto sm:w-[420px] sm:aspect-[9/16] sm:rounded-[42px];
    @apply bg-gradient-to-t from-white via-white to-gray-50;
  }

  .container::after {
    @apply content-none sm:content-[''] sm:h-[176px] sm:w-[176px] sm:rounded-full sm:absolute sm:-top-[80px] sm:-left-[88px] sm:-z-[1];
    background: rgb(255,177,51);
    background: radial-gradient(circle, rgba(255,177,51,1) 0%, rgba(255,177,51,1) 50%, rgba(255,142,39,1) 100%);
  }

  .header {
    @apply grid grid-cols-[auto_fit-content(100%)] items-center;

    & section {
      @apply grid gap-2;

      & span {
        @apply text-lg text-gray-500;
      }

      & h1 {
        @apply text-5xl font-extrabold;
      }
    }
  }

  .image {
    @apply filter drop-shadow-[0_25px_25px_rgb(251,198,43,0.3)];

    & .animated {
      animation: float 6s ease-in-out infinite;
    }
  }

  .temp {
    @apply font-extrabold;

    & h2 {
      @apply text-[144px] leading-[196px] bg-clip-text;
      background: linear-gradient(180deg, #111827 0%, #6B7280 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    & span {
      @apply text-2xl capitalize;
    }
  }
}